<!DOCTYPE html>
<html>

<head>
	{% load static %}
	<link rel="stylesheet" href="{{ STATIC_URL }}/static/articles.css">
	<title>{{post.title}}</title>
</head>

<body>
	<div class="archive">
	<div class="header">
	<p>
	{% load static %}
	<img src="http://klubmama.ru/uploads/posts/2022-08/1661638464_20-klubmama-ru-p-maiskii-zhuk-podelka-foto-23.jpg" width="350" height="270"/>
	<a class="link" href="http://127.0.0.1:8000">Все статьи</a>
	</p>
	</div>
<div class="one-post">
<h2 class="post-title">{{post.title}}</h2>
	<div class="article-info">

<div class="article-author">{{ post.author.username }}</div>
<div class="article-created-date">{{ post.created_date }}</div>
</div>
<p class="article-text">{{ post.get_excerpt }}</p>
</div>
</div>
</body>
</html>
